.about-parent-container{
    margin-top:50px;
    /* border:2px solid green; */
    width: 100%;
}
.about-child-container{
    position:relative;
    width:80%;
    /* border:2px solid red; */
    align-content: center;
    margin: 10px 10% 0 10%;
}
.about-parent-container ul{
    font-size: 26px;
    list-style-type:none; 
}
.triangular-bullet{
    font-size: 35px;
    color:red;
    margin-right: 10px;
}
@media screen and (max-width:376px){
    .about-parent-container{
        width:100%;
    }
    .about-child-container{
        width:95%;
        margin:0 5px 0 5px;
    }
    .about-parent-container ul{
        font-size: 20px;
       
    }
}
